body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: lightpink;
  padding: 20px;
  text-align: center;
}

header img {
  height: 200px;
}

main {
  padding: 20px;
  justify-items: center;
}

#stats, #petList {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ddd;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  align-items: flex-start;
}

input, select, button {
  padding: 8px;
  font-size: 1rem;
}

h1 {
  font-family: 'Fredoka One', cursive !important;
}

select option[disabled][selected] {
  color: #6c757d;
}